* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h2,
h3,
figure,
small,
a {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
}

main {
  background: #3b3b5b;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b3b5b), to(#d91111));
  background: linear-gradient(180deg, #3b3b5b 0%, #d91111 100%);
}

a {
  font-size: 1.2em;
  text-decoration: none;
}

a,
h1,
h2,
h3,
p,
button,
small {
  color: #fff;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
}

small {
  display: block;
  text-align: center;
}

.mh-center {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mt-5 {
  margin-top: 5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pos-rel {
  position: relative;
}

.txt-center {
  display: block;
  text-align: center;
}

.opacity-zero {
  opacity: 0;
}

.line {
  width: 65vw;
  position: absolute;
  border-bottom: solid 3px #c5b30d;
  right: 0;
  margin-top: .5em;
  -webkit-animation: border-slide 1s;
          animation: border-slide 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes border-slide {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  60% {
    width: 0vw;
  }
  100% {
    width: 70vw;
  }
}

@keyframes border-slide {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  60% {
    width: 0vw;
  }
  100% {
    width: 70vw;
  }
}

.sm-line,
.lg-line {
  height: 2px;
  background-color: #c5b30d;
}

.sm-line {
  width: 30vw;
}

.lg-line {
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  height: auto;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 1em;
  right: 2em;
}

header nav ul li {
  padding: .5em;
}

header nav ul li a {
  font-size: 1.5em;
}

header nav ul li:hover {
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
}

header h1 {
  position: absolute;
  right: .5em;
  top: 80%;
  font-size: 9vw;
}

.header-img {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #3B3B5B;
}

.img {
  background-image: url("img/header.jpg");
  background-color: #adb5c2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -20vw top 0em;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
}

.email-form {
  width: 90vw;
}

.form-group {
  width: 100%;
}

@-webkit-keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.modal {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  overflow: auto;
  background-color: rgba(22, 22, 22, 0.6);
  top: 0;
}

.modal-content {
  z-index: 4;
  margin: auto;
  position: relative;
  width: auto;
  max-width: 1920px;
  height: auto;
  background-color: #523a59;
  padding: 3em 1em 1em 1em;
  color: #fff;
}

.modal-content h2 {
  font-size: 2em;
}

.modal-content h3 {
  font-style: italic;
  margin: 0 0 .5em 0;
}

.modal-content a {
  color: #fff;
}

.modal-content p {
  margin: 0 0 0 .5em;
}

.modal-content .modal-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content .modal-header p {
  margin: 0;
  padding: 0;
}

#close {
  top: 1em;
  right: 1.5em;
  float: right;
  position: absolute;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  padding: .5em;
}

#close:hover {
  background: rgba(205, 29, 29, 0.4);
}

.flex p {
  width: 60vw;
}

.flex h3 {
  width: 40vw;
  text-align: end;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section h2 {
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
}

section p {
  font-size: 1.2em;
  margin: 1em 1.5em 0 1.5em;
}

.section-content {
  width: 90vw;
  margin: 4em auto 2em;
}

.figure-content {
  background-color: #3B3B5B;
  width: 100%;
  height: 15em;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.figure-header {
  position: relative;
  height: 12em;
  width: 100%;
  overflow: hidden;
}

.figure-header a {
  text-align: center;
  display: block;
  position: absolute;
  top: 30%;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.figure-body {
  height: 3em;
}

.figure-body a {
  padding: .8em 0;
}

.color-over {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-color: #000000a4;
}

.is-showing {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.project-1,
.project-2,
.project-3 {
  background-size: cover;
}

.project-1 {
  background-image: url("img/project-1.jpg");
}

.project-2 {
  background-image: url("img/project-2.jpg");
}

.project-3 {
  background-image: url("img/project-3.jpg");
}

section form div {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section form div label {
  color: #fff;
}

section form div button {
  display: block;
  font-size: 1.3em;
  width: 60%;
  margin: .5em auto;
  background-color: #3B3B5B;
  border: none;
  padding: .2em;
}

section form div input {
  margin: .2em;
}

section form div textarea {
  margin: .2em;
}

.kontakt-animation {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-is-showing {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.kontakt {
  text-align: center;
}

.kontakt a {
  font-size: 1em;
  display: block;
}

@media screen and (min-width: 420px) {
  .img {
    background-position: left -10vw top 0em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #444444b2;
    top: -12vw;
    right: 3vw;
    width: 10em;
    height: 15em;
    padding-bottom: .5em;
  }
  header nav ul li {
    padding-top: 2vw;
  }
  .figure-header a {
    padding-top: 18%;
  }
  .figure-body a {
    padding: .8em 0;
  }
}

@media screen and (min-width: 580px) {
  .img {
    background-position: left -10vw top 0em;
  }
  .header-img {
    height: 60vh;
  }
  header nav ul {
    top: -5vw;
  }
  header h1 {
    z-index: 4;
    top: 75%;
  }
  .figure-content {
    width: 48%;
    height: 20em;
  }
  .figure-header {
    height: 16em;
  }
  .figure-body {
    height: 4em;
  }
  .form-group {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .header-img {
    height: 85vh;
  }
  .img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 110%);
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 110%);
    background-attachment: fixed;
  }
  header nav ul {
    top: 0;
    right: 6vw;
  }
  header h1 {
    top: 65%;
    font-size: 6em;
  }
  .figure-content {
    width: 30%;
    height: 30em;
  }
  .figure-header {
    height: 26em;
  }
  .figure-body {
    height: 4em;
  }
  .form-group {
    width: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 110%);
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 110%);
    background-attachment: fixed;
    background-size: 95vw;
  }
}
/*# sourceMappingURL=style.css.map */